{% extends 'base/base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% block conteudo %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{% static '../static/css/editar_remover_user.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Gerenciamento de Contas</title>

</head>
<body>
    <div class="container">
        <h2>Gerenciamento de Contas</h2>
        <table>
            <thead>
                <tr>
                    <th>Tipo de acesso</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th class="button-cell">Editar</th>
                    <th class="button-cell">Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for chave, valor in dados.items %}
                <tr>
                    <td>{{ valor.tipo_acesso }}</td>
                    <td>{{ valor.nome }}</td>
                    <td>{{ valor.email }}</td>
                    <td>{{ valor.senha }}</td>
                    <td>
                        <button type="submit"><i class="fas fa-edit"></i></button>
                    </td>
                    <td>
                        <button><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
        <a class="button" href="/adm/">Voltar</a>
    </div>
</body>
</html>

{% endblock %}