{% extends 'base/base.html' %}
{% block conteudo %}
{% load widget_tweaks %}

<form action="" method="POST">
  <div class="container-fluid">
      {% csrf_token %}
      <br>
      <div class="text-center"> <!-- Adicione a classe para centralizar -->
        <h1 class="centered-heading">Alterar Produtos</h1>
      </div>
        <div class='form-row align-items-center'>
        <!-- <label>Código Produto</label> -->
        {% render_field formulario.codigo_produto class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Código Produto" %}
        <!-- <label>Nome Produto</label> -->
        {% render_field formulario.nome_produto class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;"  placeholder="Nome Produto" %}
        <!-- <label>Quantidade</label> -->
        {% render_field formulario.qtidade_produto class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;"  placeholder="Quantidade Produto" %}
        <!-- <label>Observações</label> -->
        {% render_field formulario.obs_produto class='form-control centered-placeholder' style="width: 350px; height: 70px; margin-bottom: 15px;"  placeholder="Observação" %}            
        </div>
        <div class="text-center my-4">
        <button class="form-control-sm cadastrar-button custom-button">Cadastrar</button>
        </div>
  </div>
</form>

{% endblock %}