{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sistema ERP Alex</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block conteudo %}
{% load widget_tweaks %}
{% load static %}
<link href="{% static '../static/css/cadastro.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
  <form action="/cadastrar/" method="POST" id="formProduto">
    {% csrf_token %}
    <div class="container">
        <br>
        <h1 style="font-size: 30px; text-align: center; font-weight: bold;">Cadastrar Produtos</h1>

        <div class='form-row align-items-center'>
            <input type="text" id="sku" name="sku" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Código do Produto" required>

            <input type="text" id="descricao" name= "descricao" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Nome do produto" required>

            <input type="number" id="quantidade" name="quantidade" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Quantidade do Produto" required>

            <input type="text" id="hiperlink" name="hiperlink" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Hiperlink">

            <input type="text" id="local" name="local" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Local">

            <textarea id="obs" name="obs" class='form-control centered-placeholder' style="width: 350px; height: 70px; margin-bottom: 15px;" placeholder="Cor do produto"></textarea>
            <div id="mensagem-registro" style="margin-top: 10px; color: green;">
                {{ mensagem }}
            </div>
            <div class="text-center my-4">
                <button type="submit" onclick="exibirMensagem()">Cadastrar</button>
                <a class="botao-voltar" href="/adm/">Voltar</a>
            </div>
        </div>
    </div>
  </form>

</body>

<script>
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function exibirMensagem() {
          var mensagemRegistro = document.getElementById("mensagem-registro");
          mensagemRegistro.style.display = "block";
          setTimeout(function() {
              mensagemRegistro.style.display = "none";
          }, 10000);
      }

  function enviarFormulario() {
    // Captura os valores dos campos do formulário
    var sku = document.getElementById("sku").value;
    var descricao = document.getElementById("descricao").value;
    var quantidade = document.getElementById("quantidade").value;
    var hiperlink = document.getElementById("hiperlink").value;
    var obs = document.getElementById("obs").value;
    var local = document.getElementById("local").value;

    // Cria um objeto com os dados do produto
    var produto = {
      "sku": sku,
      "descricao": descricao,
      "quantidade": quantidade,
      "hiperlink": hiperlink,
      "obs": obs,
      "local": local,
    };

    // Converte o objeto para JSON
    var data = JSON.stringify(produto);

    // Cria uma requisição HTTP (POST) para enviar os dados para o servidor
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/cadastrar/", true);
    xhr.setRequestHeader("Content-Type", "application/json");

    // Obtém o token CSRF do cookie e adiciona-o no cabeçalho da requisição
    var csrftoken = getCookie('csrftoken');
    xhr.setRequestHeader("X-CSRFToken", csrftoken);

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // O produto foi cadastrado com sucesso no servidor
        console.log("Produto cadastrado com sucesso!");
        exibirMensagem();
      }
    };
    // Envia os dados para o servidor
    console.log(data)
    xhr.send(data);
    exibirMensagem();
  }
</script>

{% endblock %}