{% extends 'base/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sistema ERP Alex</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block conteudo %}
{% load widget_tweaks %}
{% load static %}
<link href="{% static '../static/css/cadastro.css' %}" rel="stylesheet">

<body>
  <form action="/cadastrar/" method="POST" id="formProduto">
    {% csrf_token %}
    <div class="container">
        <br>
        <h1 style="font-size: 30px; text-align: center; font-weight: bold;">Cadastrar Produtos</h1>

        <div class='form-row align-items-center'>
            <input type="text" id="sku" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Código Produto" required>

            <input type="text" id="descricao" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Tipo Produto" required>

            <input type="number" id="quantidade" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Quantidade Produto" required>

            <input type="text" id="hiperlink" class='form-control centered-placeholder' style="width: 350px; height: 40px; margin-bottom: 15px;" placeholder="Hiperlink">

            <textarea id="obs" class='form-control centered-placeholder' style="width: 350px; height: 70px; margin-bottom: 15px;" placeholder="Observação"></textarea>

            <div class="text-center my-4">
                <button type="submit" class="no-style" onclick="enviarFormulario()">Cadastrar</button>
                <a class="no-style" href="/adm/">Voltar</a>
            </div>
        </div>
    </div>
  </form>

</body>

<script>
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }

  function enviarFormulario() {
    // Captura os valores dos campos do formulário
    var sku = document.getElementById("sku").value;
    var descricao = document.getElementById("descricao").value;
    var quantidade = document.getElementById("quantidade").value;
    var preco = document.getElementById("preco").value;
    var obs = document.getElementById("obs").value;

    // Cria um objeto com os dados do produto
    var produto = {
      "sku": sku,
      "descricao": descricao,
      "quantidade": quantidade,
      "preco": preco,
      "obs": obs
    };

    // Converte o objeto para JSON
    var data = JSON.stringify(produto);

    // Cria uma requisição HTTP (POST) para enviar os dados para o servidor
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/cadastrar/", true);
    xhr.setRequestHeader("Content-Type", "application/json");

    // Obtém o token CSRF do cookie e adiciona-o no cabeçalho da requisição
    var csrftoken = getCookie('csrftoken');
    xhr.setRequestHeader("X-CSRFToken", csrftoken);

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // O produto foi cadastrado com sucesso no servidor
        console.log("Produto cadastrado com sucesso!");
      }
    };
    // Envia os dados para o servidor
    console.log(data)
    xhr.send(data);
  }
</script>

{% endblock %}