{% extends 'base/base.html' %}
{%  block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Dar Baixa</title> -->
    {% load static %}
    <link href="{% static '../static/css/dar_baixa.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Dar baixa</h2>
        <form action="/exec_baixa/" method="post" onsubmit="return validarQuantidade()">
            {% csrf_token %}
            <input type="text" style="display: None; width: 200px;" value="{{ dados.item_id }}" id="id_registro" name="id_registro" readonly>
            <label>Operador:</label>
            <input type="text" style="background-color: rgba(214, 211, 211, 0.676);" value="{{ request.session.nome }}" id="operador" name="operador" readonly>           
            <label>Código/cor do produto:</label>
            <input type="text" style="background-color: rgba(214, 211, 211, 0.676);"  value="{{ dados.sku }} ({{ dados.obs }})" id="codigo-produto" name="codigo-produto" readonly></input>
            <label>Nome do produto:</label>
            <input type="text" style="background-color: rgba(214, 211, 211, 0.676);"  value="{{ dados.descricao }}" id="nome-produto" name="nome-produto" readonly>
            <div style="display: flex; justify-content: space-between; flex: 1;">
                <div>
                    <label>Quantidade atual:</label>
                    <input type="text" style="background-color: rgba(214, 211, 211, 0.676); width: 100%; padding-inline-end: 60px;"  value="{{ dados.quantidade }}" id="qtidade-produto" name="qtidade-produto" readonly>
                </div>
                <div>
                    <label>Local atual:</label>
                    <input type="text" style="background-color: rgba(214, 211, 211, 0.676); width: 100%; padding-inline-end: 60px;"  value="{{ dados.local }}" id="local-produto" name="local-produto" readonly>
                </div>
            </div>
            
            <label for="cod-do-pedido">Número do pedido</label>
            <input type="text" id="numero-do-pedido" name="numero-do-pedido" required>

            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo">
                <option value="entrada">Entrada</option>
                <option value="saida">Saída</option>
            </select>

            <label for="qtidade-produto-baixa">Quantidade da baixa:</label>
            <input type="number" min="1" id="qtidade-produto-baixa" name="qtidade-produto-baixa" required>

            
            <button type="submit">Registrar Movimentação</button>

            <a href="/produtos/" class="botao-voltar">Voltar</a>
        </form>
    </div>
</body>
</html>

<script>
    function validarQuantidade() {
        var qtidadeProduto = parseFloat(document.getElementById("qtidade-produto").value);
        var qtidadeProdutoBaixa = parseFloat(document.getElementById("qtidade-produto-baixa").value);
        var tipoBaixa = String(document.getElementById("tipo").value);
    
        if (tipoBaixa == 'entrada') {
            if (qtidadeProdutoBaixa > 0) {
                return true; // Permite a submissão do formulário
            }else{
                alert('Insira uma quantidade válida.');
                return false; // Impede a submissão do formulário
            }
        } else {
            if (qtidadeProdutoBaixa <= qtidadeProduto) {
                return true; // Permite a submissão do formulário
            }else{
                alert('Quantidade de baixa maior que existente em estoque');
                return false; // Impede a submissão do formulário
            }
        }
    }
    </script>
{% endblock %}