{% extends 'base/base.html' %}
{%  block conteudo %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!DOCTYPE html>
<html>
<head>
<link href="{% static '../static/css/importar_excel.css' %}" rel="stylesheet">
</head>
<body>
  <div class="center-container">
    <div class="container-fluid content">
    <h1>Importar Excel</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="custom-file-upload" for="fileInput">
          <span class="botao-importar-excel" id="fileName" >Importar Dados</span>
          <input type="file" name="excel_file" id="fileInput" style="display: none;">
        </label>
        <button type="submit" >Carregar Dados</button>
        <a class="botao-voltar" href="/adm/">Voltar</a>
      </form>
    </div>
  </div>

  <div class="center-container">
    <form id="salvarFirebase">
      <div class="container-fluid content" style="height: 500px; width: auto; overflow-y: auto;">
        <div class="centralizar">
          <h1 class="dados-imp">Dados Importados</h1>

        </div>
        <table>
          <tr>
            <th>Código do Produto</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Hiperlink</th>
            <th>Observação</th>
          </tr>
          {% if excel_data %}
          
          <button type="submit" style="position: relative; margin-bottom: 10px;">
            <div id="loading" class="animacao-carregamento" style=" display: contents; position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%);"></div>
            Importar Para Estoque
          </button>

          <!-- <div id="loading" style="display: none;">
            <img src="../static/carregando.gif" alt="Carregando...">
          </div> -->
          
          {% for row in excel_data %}
          <tr>
              <td>{{ row.Codigo }}</td>
              <td>{{ row.Nome }}</td>
              <td>{{ row.Quantidade }}</td>
              <td>{{ row.Hiperlink }}</td>
              <td>{{ row.Observacao }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <p id="mensagem" style="display: none;">Colunas não localizadas: {{ mensage }}</p>

          {% endif %}
      </table>
      </div>
    </form>
  </div>

</body>
</html>
<!-- 
<style>
.custom-loader {
  width:120px;
  height:20px;
  border-radius: 20px;
  align-self: center;
  background:
   repeating-linear-gradient(135deg,#F4E6BB 0 10px,#F4E6BBbf 0 20px) left/0% 100%   no-repeat,
   repeating-linear-gradient(135deg,#F4E6BB33    0 10px,#F4E6BB1a    0 20px) left/100% 100%;
  animation:p3 2s infinite;
}
@keyframes p3 {
    100% {background-size:100% 100%}
}
</style> -->
<script>
  const fileInput = document.getElementById('fileInput');
  const fileName = document.getElementById('fileName');

  fileInput.addEventListener('change', function() {
    if (fileInput.files.length > 0) {
      fileName.textContent = fileInput.files[0].name;
    } else {
      fileName.textContent = 'Escolher Arquivo';
    }
  });
</script>

<script>
  // Verifique se há uma mensagem de colunas ausentes
  var mensagemElement = document.getElementById("mensagem");
  if (mensagemElement.innerHTML !== "Colunas não localizadas: ") {
      mensagemElement.style.display = "block"; // Ou use "inline" ou "inline-block" conforme necessário
  }
</script>

<script>
  document.getElementById("salvarFirebase").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent the default form submission behavior

      // Mostrar o GIF de carregamento e desabilitar o botão
      var loadingDiv = document.getElementById("loading");
      var salvarButton = document.getElementById("salvarFirebase");
      loadingDiv.style.display = "block";
      salvarButton.disabled = true;

    var tableRows = document.querySelectorAll("table tbody tr");
    var products = [];

    tableRows.forEach(function(row, index) {
      if (index !== 0) {
        var quantidadeText = row.cells[2].textContent.trim();
        var quantidade = !isNaN(parseFloat(quantidadeText)) ? parseFloat(quantidadeText) : 0;

        var produto = {
          sku: row.cells[0].textContent,
          descricao: row.cells[1].textContent,
          quantidade: quantidade,
          hiperlink: row.cells[3].textContent,
          obs: row.cells[4].textContent
        };
        products.push(produto);
      }
    });

    var data = JSON.stringify(products);

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/carregar_dados_excel/", true);
    xhr.setRequestHeader("Content-Type", "application/json");

    var csrftoken = getCookie('csrftoken');
    xhr.setRequestHeader("X-CSRFToken", csrftoken);

    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log("Produtos cadastrados com sucesso!");
          alert('Importado com Sucesso!');
          loadingDiv.style.display = "none";


        } else {
          console.error("Erro ao cadastrar produtos:", xhr.statusText);
          alert('Erro ao cadastrar produtos');
        }
      }
    };

    xhr.send(data);
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>


{% endblock %}