{% extends 'base/base.html' %}
{%  block conteudo %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<title>Tela de Movimentações</title>

{% load static %}
<link href="{% static '../static/css/movs.css' %}" rel="stylesheet">

</head>
<body>
     <!-- Filtrar produtos -->
   <br>
   <div class="container-fluid content">
        <h1>Filtrar Histórico</h1>
        <div class="filter-form">
            <form action="{% url 'listagem_produtos' %}" method="get">
                <div style="display: flex; align-items: center;">
                    <input type="text" name="codigo_filtro" placeholder="Código do Produto">
                    <input type="text" name="nome_filtro" placeholder="Nome do Produto">
                    <input type="text" name="quantidade_filtro" placeholder="Quantidade">
                </div>
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <div class="container">
        <h2>Movimentações de Produtos</h2>
        <table>
            <thead>
                <tr>
                    <th style="display: none;">id</th>
                    <th>Operador</th>
                    <th>Data</th>
                    <th>Transação</th>
                    <th>Tipo</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <!-- <th>Editar</th>
                    <th>Deletar</th> -->
                </tr>
            </thead>
            <tbody>
                {% for chave, valor in dados.items %}
                <tr>
                    
                    <td style="display: none;">{{ chave }}</td>
                    <td>{{ valor.nome }}</td>
                    <td>{{ valor.data }}</td>
                    <td>{{ valor.referencia }}</td>
                    <td>{{ valor.tipo }}</td>
                    <td>{{ valor.sku }}</td>
                    <td>{{ valor.descricao }}</td>
                    <td>{{ valor.quantidade }}</td>
                    <!-- <td><button><i class="fas fa-edit"></i></button></td>
                    <td><button><i class="fas fa-trash-alt"></i></button></td> -->
                </tr>
                {% endfor %}
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </div>
</body>
</html>

{% endblock %}