{% extends 'base/base.html' %}
{%  block conteudo %}

<!DOCTYPE html>
<html>
<head>
    <title>Tela de Movimentações</title>
    {% load static %}
    <link href="{% static '../static/css/movs.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2>Movimentações</h2>
        <table>
            <thead>
                <tr>
                    <th>Operador</th>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Código do Produto</th>
                    <th>Nome do Produto</th>
                    <th>Quantidade do Produto</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>2023-08-06</td>
                    <td>Entrada</td>
                    <td>123456</td>
                    <td>Produto A</td>
                    <td>10</td>
                    <td><button>Editar</button>
                    </td>
                    <td><button>Deletar</button></td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </div>
</body>
</html>

{% endblock %}