{% extends 'base/base.html' %}
{%  block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% load widget_tweaks %}
{% load static %}
<link href="{% static '../static/css/prodcadastrados.css' %}" rel="stylesheet">

{% comment %} importação data table {% endcomment %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/v/bs4-4.6.0/dt-1.13.6/datatables.min.css" rel="stylesheet">
 



</head>
<body>
  <br>
  <div class="container-fluid content">
        <h1>Filtrar Produtos</h1>
        <div class="filter-form">
          <form id="filtro-form">
            <div style="display: flex; align-items: center; justify-content: center;">
                <input type="text" id="codigo_filtro" name="codigo_filtro" placeholder="Código do Produto">
                <input type="text" id="nome_filtro" name="nome_filtro" placeholder="Nome do Produto">
                <input type="text" id="cor_filtro" name="cor_filtro" placeholder="Cor do Produto">
                <input type="text" id="qtidade_filtro" name="qtidade_filtro" placeholder="Quantidade">
                <!-- <input type="number" id="quantidade_filtro" name="quantidade_filtro" placeholder="Quantidade"> -->
            </div>
          </form>
        </div>
    </div>
  
  <!-- Produtos Cadastrados -->
  <div class="container-fluid content">
    <div style="display: flex; align-items: center; justify-content: center;">
      <h1 style="flex: 1;">Lista de Produtos Cadastrados</h1>
      <!-- <label for="file-input" class="export-button">Importar Excel
        <input type="file" id="file-input" class="import-input" accept=".xlsx, .xls, .csv">
      </label> -->

      <!-- <button class="botao-atualizar" id="atualizar-button">Atualizar</button> -->
      <a class="botao-atualizar" href="{% url 'listagem_produtos' %}" >Atualizar</a>
      {% if request.session.tipo_acesso != "vendedor" and request.session.tipo_acesso != "geral" %}
            <button id="exportButton" class="botao-exportar">Exportar csv</button>
      {% endif %}
    </div>  
    <div class="table-container" style="height: 500px; width: auto; overflow-y: auto; ">
      <table id="tabela">
        <thead>
          <tr>
            <th style="display: none;">_Código</th>
            <th>Código</th>
            <th>Nome</th>
            <th>Cor</th>
            <th>Quantidade</th>
            <th>Link</th>
            <th>Local</th>
            {% if request.session.tipo_acesso != "vendedor" %}
              <th>Dar Baixa</th>
            {% endif %}
            {% if request.session.tipo_acesso != "vendedor" and request.session.tipo_acesso != "geral" %}
              <th>Deletar</th>
            {% endif %}
            <!-- <th>Editar</th>
            <th>Excluir</th> -->
          </tr>
        </thead>
        <!-- Loop para exibir os registros do banco de dados -->
        <tbody>
          {% for codigo, produto_info in produtos.items %}
          <tr>
            <td style="display: none;">{{ codigo }}</td>
            <td>{{ produto_info.sku }}</td>
            <td>{{ produto_info.descricao }}</td> 
            <td>{{ produto_info.obs }}</td>
            <td>{{ produto_info.quantidade }}</td>
            <!-- <td>{{ produto_info.url }}</td> -->
            <td><a href="{{ produto_info.link }}" target="_blank">{{ produto_info.link }}</a></td>
            <td>{{ produto_info.local }}</td>

            {% if request.session.tipo_acesso != "vendedor" %}
            <td>
              <a class="botao-baixa" href="{% url 'baixa' item_id=codigo %}?sku={{ produto_info.sku }}&desc={{ produto_info.descricao }}&qtde={{ produto_info.quantidade }}&obs={{ produto_info.obs }}&local={{ produto_info.local }}">
                <i class="arrow-icon fas fa-arrow-up"></i>
                <i class="arrow-icon fas fa-arrow-down"></i>
              </a>
            </td>
            {% endif %}
            <td>
              <a href="{% url 'deletar_dados_produto' id=codigo %}" class="delete-link botao-baixa">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.datatables.net/v/bs4-4.6.0/dt-1.13.6/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $('#tabela').DataTable();
  });
</script>
<script>
  $(document).ready(function() {
      $('.delete-link').on('click', function(e) {
          e.preventDefault();
          console.log("Deletando")

          var produtoCodigo = $(this).closest('tr').find('td:eq(1)').text();
          var produtoNome = $(this).closest('tr').find('td:eq(2)').text();

          var confirmation = confirm("Tem certeza que deseja deletar?\n" + 
                                   "Código: " + produtoCodigo + "\n" +
                                   "Nome: " + produtoNome);

          if (confirmation) {
              window.location.href = $(this).attr('href');
          }
      });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
  var exportButton = document.getElementById("exportButton");

  if (exportButton) {
    exportButton.addEventListener("click", function () {
      var csvData = Papa.unparse(getTableData(), {delimiter: ";"});

      var csvDataWithBOM = "\uFEFF" + csvData;
      var blob = new Blob([csvDataWithBOM], { type: "text/csv;charset=utf-8;" });
      var link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = "Produtos_estoque.csv";
      link.style.display = "none";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });
  } else {
    console.error("Elemento não encontrado. Verifique o ID do elemento e o carregamento do script.");
  }
});

function getTableData() {
  var data = [];
  var table = document.evaluate('/html/body/div[2]/div[2]/table', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
  var rows = table.querySelectorAll("tbody tr");

  var columnTitles = ["Codigo", "Nome", "Cor", "Quantidade", "Link", "Local"];
  data.push(columnTitles);

  rows.forEach(function (row) {
    var rowData = [];
    var columnsToInclude = [1, 2, 3, 4, 5, 6]; // index das colunas 
    
    columnsToInclude.forEach(function (colIndex) {
      var cell = row.querySelector(`td:nth-child(${colIndex + 1})`);
      rowData.push(cell.innerText);
    });
    
    data.push(rowData);
  });

  return data;
}
</script>

<script>
    $(document).ready(function() {
        function realizarFiltro() {
            var filtroCodigo = $('#codigo_filtro').val().toUpperCase();
            var filtroNome = $('#nome_filtro').val().toUpperCase();
            var filtroCor = $('#cor_filtro').val().toUpperCase();
            var filtroQuantidade = parseFloat($('#qtidade_filtro').val());
  
            $('tbody tr').each(function() {
                var linha = $(this);
                var codigo = linha.find('td:nth-child(2)').text().toUpperCase();
                var nome = linha.find('td:nth-child(3)').text().toUpperCase();
                var cor = linha.find('td:nth-child(4)').text().toUpperCase(); // Altere o índice de acordo com a coluna da cor
                var quantidade = parseFloat(linha.find('td:nth-child(5)').text());

                var codigoPassou = codigo.includes(filtroCodigo) || filtroCodigo === '';
                var nomePassou = nome.includes(filtroNome) || filtroNome === '';
                var corPassou = cor.includes(filtroCor) || filtroCor === '';
                var quantidadePassou = isNaN(filtroQuantidade) || quantidade >= filtroQuantidade;

                if (codigoPassou && nomePassou && corPassou && quantidadePassou) {
                    linha.show();
                } else {
                    linha.hide();
                }
            });
        }

        $('#codigo_filtro, #nome_filtro, #cor_filtro, #qtidade_filtro').on('input', function() {
            realizarFiltro();
        });
    });
</script>

{% endblock %}