{% extends 'base/base.html' %}
{%  block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% load static %}
<link href="{% static '../static/css/prodcadastrados.css' %}" rel="stylesheet">

</head>
<body>
    <!-- Filtrar produtos -->
   <br>
   <div class="container-fluid content">
        <h1>Filtrar Produtos</h1>
        <div class="filter-form">
            <form action="{% url 'listagem_produtos' %}" method="get">
                <div style="display: flex; align-items: center;">
                    <input type="text" name="codigo_filtro" placeholder="Código do Produto">
                    <input type="text" name="nome_filtro" placeholder="Nome do Produto">
                    <input type="text" name="quantidade_filtro" placeholder="Quantidade">
                </div>
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

  
  <!-- Produtos Cadastrados -->
  <div class="container-fluid content">
    <div style="display: flex; align-items: end; justify-content: center;">
      <h1 style="flex: 1;">Lista de Produtos Cadastrados</h1>
      <label for="file-input" class="export-button">Importar Excel
        <input type="file" id="file-input" class="import-input" accept=".xlsx, .xls, .csv">
      </label>
      <button class="export-button">Exportar Excel</button>
    </div>
    <div class="table-container" style="height: 500px; overflow-y: auto;">
      <table>
        <thead>
          <tr>
            <th>Código do Produto</th>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Observação</th>
            <th>Editar</th>
            <th>Excluir</th>
            <th>Dar Baixa</th>
          </tr>
        </thead>
        <!-- Loop para exibir os registros do banco de dados -->
        <tbody>
          {% for codigo, produto_info in produtos.items %}
          <tr>
            <td>{{ codigo }}</td>
            <td>{{ produto_info.Descricao }}</td>
            <td>{{ produto_info.Quantidade }}</td>
            <td>{{ produto_info.Obs }}</td>
            <td>
              <button class="edit-button"></button>
            </td>
            <td>
              <button class="delete-button" onclick="confirmDelete()"></button>
            </td>
            <td>
              <a class="baixa-button" href="/dar_baixa/">Dar Baixa</a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

{% endblock %}