<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tela de Login</title>
{% load static %}

<link href="{% static '../static/css/login.css' %}" rel="stylesheet">

</head>

<div>
<body>
<div class="login-container" >
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <img src="../static/redd.svg" alt="Logo">
  <input type="text" class="dados-input" name="email" placeholder="e-mail">
  <input type="password" class="dados-input" name="senha" placeholder="Senha">
  <div class="login-button-container">
    <!-- <button class="login-button" onclick="window.location.href='/produtos/'">Entrar</button> -->
    <button class="login-button" >Entrar</button>
  </div>
</form>
</div>
</body>
<div style="align-content: center; text-align: center;">
  <br>
    <p style="color: rgb(165, 164, 164); font-size: large;" >&copy; 2023 PyCraft Studio.<br> Todos os direitos reservados.</p>
    <p style="color: rgb(165, 164, 164);" >Suporte<br> Geovanne: (11) 95284-2140<br>Felipe: (11) 99202-2640<br>Luiz: (11) 94440-7930</p>
  </div>
</div>
</html>



