<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tela de Login</title>
{% load static %}

<link href="{% static '../static/css/login.css' %}" rel="stylesheet">

</head>
<body>
<div class="login-container">
  <img src="../static/redd.svg" alt="Logo">
  <input type="text" class="dados-input" placeholder="Usuário">
  <input type="password" class="dados-input" placeholder="Senha">
  <div class="login-button-container">
    <button class="login-button" onclick="window.location.href='/produtos/'">Entrar</button>
  </div>
</div>
</body>
</html>