.custom-button {
    background-color: #f28d35; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .custom-button:hover {
    background-color: #f66f00; /* Cor de fundo ao passar o mouse */
  }