/* Centraliza tudo */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

/* Fundo cinza do menu principal de todas telas dps de logado */
.navbar {
  background-color: #dedede;
  width: 600;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

/* Formata fontes do menu */
.nav-link {
  color: #333;
  font-weight: bold;
}

/* Deixa cor laranja ao passar mouse em cima da fonte menu */
.nav-link:hover {
  color: #f66f00;
}

/* Espaçamento de cima do menu para nao cortar a borda do navbar */
.navbar {
  margin: 10px;
}

/* Formatação logo menu */
.navbar img{
  width: 110px;
  height: auto;
  margin-right: 20px;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* .navbar-brand.nav-link.dropdown-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-brand.nav-link.dropdown-toggle i {
  font-size: 20px;
  margin-bottom: 5px;
} */