/* Forma da tela dar baixa */
.container {
    max-width: 600px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
}

.no-style {
    background-color: #f28d35;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;

  }

/* Degrade botão novo user */
.no-style:hover {
    background-color: #f66f00;
}

a {
    color: #ffffff; /* Altere a cor conforme necessário */
}

a:hover {
    color: #ffffff; /* Altere a cor conforme necessário */
}

button {
    background-color: #f28d35;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.5s;
  }

/* Degrade botão novo user */
button:hover {
    background-color: #f66f00;
}

.back-button {
    background-color: #f28d35;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.5s;
  }

/* Degrade botão novo user */
.back-button:hover {
    background-color: #f66f00;
}

a {
    color: #ffffff; /* Altere a cor conforme necessário */
}

a:hover {
    color: #ffffff; /* Altere a cor conforme necessário */
}