/* Centralizar gerenciamento de contas */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tamanho da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

/* Altera titulo usuario e senha */
th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

/* cor de Background do titulo */
th {
    background-color: #f0f0f0;
}

/* Botão editar e deletar */
.button {
    margin-left: 10px;
    padding: 5px 7px;
    background-color: #f28d35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Degrade botão ao passar mouse */
.button:hover {
    background-color: #f66f00;
}