/* Box de gerenciamento do ADM */
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Espaço entre botoes */
.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Cor botão e config */
.menu a {
    text-decoration: none;
    padding: 5px 5px;
    background-color: #f28d35;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Degrade ao passar mouse nas opções */
.menu a:hover {
    background-color: #f66f00;
}