/* Botao import e export */
/* .export-button {
text-align: center;
align-content: center;
background-color: #f28d35;
color: white;
border: none;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
margin-inline: 5px;
height: auto;
width: 150px;
cursor: pointer;
transition: background-color 0.5s;
} */

/* Cor do exportar e importar */
.export-button:hover {
background-color: #f66f00;
color: white;
}

/* Esconder ficheiro do importar */
.import-input {
display: none;
}

/* Separar e centralizar filtrar produtos e produtos cadastrados */
.content {
background-color: #fff;
border-radius: 15px;
box-shadow: 0px 0px 8px rgba(4, 2, 2, 0.994);
padding: 10px;
max-width: 800px;
margin-top: 10px;
}

/* centralizar e arrumar tamanho da fonte titulo filtrar produtos e lista de prod cadastrados */
.container-fluid.content h1 {
font-size: 28px;
text-align: center;
}

/* Botão buscar do filtro estilizado */
.filter-form button {
background-color: #f28d35;
color: white;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
margin-top: 10px;
margin-right: 10px;
transition: background-color 0.5s;
}

/* Não vi grande mudança mas alterou um pouco a box do filtrar produtos */
.filter-form {
margin-bottom: 10px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

/* Distanciamento dos inputs de filtrar produtos */
.filter-form input {
padding: 5px;
margin: 0 10px;
width: 150px;
}

/* Botão deletar */
.delete-button::before {
content: "X";
color: rgb(255, 255, 255);
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

/* Botão editar */
.edit-button::before {
content: "\270E";
position: 5px;
}


/* Parece que estende a borda do lista de prod cadastrados */
table {
border-collapse: collapse;
width: 100%;
border: 1px solid #BDBDBD;
}

/* Borda da lista de produtos */
th, td {
padding: 5px;
text-align: center;
}

th {
background-color: #dedede;
border: 1px solid #BDBDBD;
}

td {
border-top: 1px solid #BDBDBD;
}

tbody{
height: 50px; 
overflow-y: scroll; 
}

.back-buttons {
  background-color: #f28d35;
  color: white;
  border: none;
  height: 60px;
  border-radius: 5px;
  padding: 8px 12px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

/* Degrade botão novo user */
.back-buttons:hover {
  background-color: #f66f00;
}

a {
  color: #ffffff; /* Altere a cor conforme necessário */
}

a:hover {
  color: #ffffff; /* Altere a cor conforme necessário */
}

.arrow-icon {
margin: 3px;
}

.custom-file-input {
text-decoration: none;
align-content: center;
/* display: none; */
}

.custom-file-upload input[type="file"] {
  position: center;
  align-content: center;
}

/* label {
    text-align: center;
    align-content: center;
    background-color: #f28d35;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-inline: 5px;
    height: auto;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;
    
}

label:hover {
  background-color: #f66f00;
  color: white;
  } */

.center-container {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  height: 100vh; /* 100% da altura da viewport */
}

/* Seletor para centralizar os botões no meio da tela */
.container-fluid.content {
  text-align: center;
}

.back-buttons {
  margin: 10px;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
}

.custom-loader {
  width:120px;
  height:20px;
  border-radius: 20px;
  align-self: center;
  background:
   repeating-linear-gradient(135deg,#F4E6BB 0 10px,#F4E6BBbf 0 20px) left/0% 100%   no-repeat,
   repeating-linear-gradient(135deg,#F4E6BB33    0 10px,#F4E6BB1a    0 20px) left/100% 100%;
  animation:p3 2s infinite;
}
@keyframes p3 {
    100% {background-size:100% 100%}
}
