.center-container {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  height: 100vh; /* 100% da altura da viewport */
}

/* centralizar e arrumar tamanho da fonte titulo filtrar produtos e lista de prod cadastrados */
.container-fluid.content h1 {
  font-size: 28px;
  text-align: center;
}

/* Separar e centralizar filtrar produtos e produtos cadastrados */
.content {
background-color: #fff;
border-radius: 15px;
box-shadow: 0px 0px 8px rgba(4, 2, 2, 0.994);
padding: 10px;
max-width: 800px;
margin-top: 10px;
}

/* Botão buscar do filtro estilizado */
.filter-form button {
background-color: #f28d35;
color: white;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
margin-top: 10px;
margin-right: 10px;
transition: background-color 0.5s;
}

/* Não vi grande mudança mas alterou um pouco a box do filtrar produtos */
.filter-form {
margin-bottom: 10px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

/* Distanciamento dos inputs de filtrar produtos */
.filter-form input {
padding: 5px;
margin: 0 10px;
width: 150px;
}

/* Parece que estende a borda do lista de prod cadastrados */
table {
border-collapse: collapse;
width: 100%;
border: 1px solid #BDBDBD;
}

/* Borda da lista de produtos */
th, td {
padding: 5px;
text-align: center;
}

th {
background-color: #dedede;
border: 1px solid #BDBDBD;
}

td {
border-top: 1px solid #BDBDBD;
}

tbody{
height: 50px; 
overflow-y: scroll; 
}

.botao-importar-excel {
  background-color: #f28d35;
  color: white;
  border: none;
  height: 60px;
  border-radius: 5px;
  padding: 8px 12px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

/* Degrade botão novo user */
.botao-importar-excel:hover {
  background-color: #f66f00;
}

.botao-voltar {
  background-color: #f28d35;
  color: white;
  border: none;
  height: 60px;
  border-radius: 5px;
  padding: 8px 12px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

/* Degrade botão novo user */
.botao-voltar:hover {
  background-color: #f66f00;
}

a {
  color: #ffffff; /* Altere a cor conforme necessário */
}

a:hover {
  color: #ffffff; /* Altere a cor conforme necessário */
}

.arrow-icon {
margin: 3px;
}

.custom-file-input {
text-decoration: none;
align-content: center;
/* display: none; */
}

.custom-file-upload input[type="file"] {
  position: center;
  align-content: center;
}

/* Seletor para centralizar os botões no meio da tela */
.container-fluid.content {
  text-align: center;
}

.back-buttons {
  margin: 10px;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
}

.animacao-carregamento {
   height:6px;
   width:160px;
   background:
    linear-gradient(#F4F4F4 0 0),
    linear-gradient(#F4F4F4 0 0),
    #f28d35;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  animation: p6 3s infinite;
}

@keyframes p6 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

button {
  background-color: #f28d35;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

/* Degrade botão novo user */
button:hover {
  background-color: #f66f00;
}