/* Formatação de input filtros */
.content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* Formatação de icones do excluir e editar */
.content button {
  background-color: #f28d35;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}

/* Degrade ao passar mouse em cima do editar/excluir */
.content button:hover {
  background-color: #f66f00;
}

/* Botao import e export */
.export-button {
  text-align: center;
  align-content: center;
  background-color: #f28d35;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-inline: 5px;
  height: auto;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.5s;
}

/* Cor do exportar e importar */
.export-button:hover {
  background-color: #f66f00;
  color: white;
}

/* Esconder ficheiro do importar */
.import-input {
  display: none;
}

/* Separar e centralizar filtrar produtos e produtos cadastrados */
.content {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgba(4, 2, 2, 0.994);
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
}

/* centralizar e arrumar tamanho da fonte titulo filtrar produtos e lista de prod cadastrados */
.container-fluid.content h1 {
  font-size: 28px;
  text-align: center;
  }

/* Botão buscar do filtro estilizado */
.filter-form button {
  background-color: #f28d35;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.5s;
}

/* Não vi grande mudança mas alterou um pouco a box do filtrar produtos */
.filter-form {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Distanciamento dos inputs de filtrar produtos */
.filter-form input {
  padding: 5px;
  margin: 0 10px;
  width: 150px;
}

/* Botão deletar */
.delete-button::before {
  content: "X";
  color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Botão editar */
.edit-button::before {
  content: "\270E";
  position: 5px;
}

/* Parece que estende a borda do lista de prod cadastrados */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

/* Borda da lista de produtos */
th, td {
  padding: 10px;
  border: 1px solid #0f0101;
  text-align: center;
}

/* Cor do fundo da lista de produtos */
th {
  background-color: #dedede;
}

tbody{
  height: 50px; 
  overflow-y: scroll; 
}