.custom-button {
    background-color: #f28d35; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .custom-button:hover {
    background-color: #f66f00; /* Cor de fundo ao passar o mouse */
  }

  .export-button {
    text-align: center;
    align-content: center;
    background-color: #f28d35;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-inline: 5px;
    height: auto;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .export-button:hover {
    background-color: #f66f00;
    color: white;
  }
  
  .import-input {
    display: none;
  }