<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sistema ERP Alex</title>
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link href="{% static '../static/css/base.css' %}" rel="stylesheet">

</head>


<form class="form-box">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-center">
      <!-- <a class="navbar-brand nav-link" href="/inicio/">Inicio</a> -->
      <img src="../static/redd.svg" alt="Logo">
      <a class="navbar-brand nav-link" href="/produtos/">Estoque</a>
      <a class="navbar-brand nav-link" href="/cadastrar/">Cadastrar Produtos</a>
      <!-- <span class="navbar-brand nav-link">Olá, {{ user.username }}</span>
      <a class="navbar-brand nav-link" href="/login/">Sair</a> -->
      <div class="dropdown">
        <span class="navbar-brand nav-link dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </span>
        <div class="dropdown-menu" aria-labelledby="userMenu">
            <a class="dropdown-item" href="/admin/">Admin</a> <!-- Abre admin do django -->
            <a class="dropdown-item" href="/adm/">Gerenciamento</a>
            <a class="dropdown-item" href="/login/">Sair</a>
            <!-- Adicione outras opções do menu aqui -->
        </div>
    </div>
    </div>
  </div>
</form>

    {% block conteudo %}

    {% endblock %}

</body>
</html>